
  <h2> Grocery list manager </h2>
  <nav class="navbar navbar-dark bg-primary">
    
    <div class = "container-1">
     <div class="row">
      <div class="col-xs-6 col-md-4">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="enter grocery items"  id="txtSearch" [(ngModel)]="task" />
              <div class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="onClick()">
      <span class="glyphicon glyphicon-ok"></span>
      </button> 
    </div> 
  </div>
</div>
</div>
</div> 
      <div class = "container-2">
      <h4>Make your order from Amazon.fresh </h4>   
      <button class="btn btn-primary" type="button" (click)="onClick()">
      <span class="glyphicon glyphicon-ok"> AmazonFresh </span>
                  
      <a href = "https://www.amazon.com/alm/storefront?almBrandId=QW1hem9uIEZyZXNo&ref_=nav_fresh_btn"> </a> 
    </button>
  </div>
  </nav>
  
<br>
<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
      <span> {{ task.name }} </span>
   </li>
  </ul>







 